<div class="container">
<header>
<h1>About</h1>
</header>

<nav>
	<ul>
		<li><%= link_to 'Home', root_path %></li>
		<li>Nav list item 2</li>
		<li>Nav list item 3</li>
	</ul>
</nav>

<aside>
	<ul>
		<li>Aside list item 1</li>
	</ul>
</aside>


<article>
	<h1>Article</h1>
	<p>Hello this is the article</p>
</article>

<footer>
	This is the footer.
</footer>
</div>