<div class="container">
	
<header>
	<h1>Contact Us</h1>
</header>

<nav>
	<ul>
		<li><%= link_to 'Home', root_path %></li>
		<li><%= link_to 'About', about_path %></li>
		<li><%= "This is a String, but in embedded Ruby!" %></li>
	</ul>
</nav>


<aside>
	<ol>
		<li>Ordered List Item 1</li>
		<li>Ordered List Item 2</li>
	</ol>
</aside>

<article>
	<h1>This is the H1 content of the Article section.</h1>
	<p>This is the paragraph content of the Article section</p>
</article>
<footer>
	<%= "Embedded Ruby is fun!" %>
</footer>


</div>